/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: $max-site-width !default;


// Mixin for inline wrapper padding


@mixin o-wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: $inuit-wrapper-width;
    padding-left: 1rem;
    padding-right: 1rem;
    @include mq($from: mobile--wide){
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @include mq($from: wide){
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.o-wrapper {
    @include o-wrapper;
}

.o-wrapper--flush {
    padding-left: 0;
    padding-right: 0;
}
