///* ========================================================================
//   #COLOURS
//   ======================================================================== */
// The list of colour variables used globally across the project


//
// Project Colours as Variables
//


$black: #221F20;
$white: #FFFFFF;

$link: #FF4F79;
$highlight: #06D6A0;

$off-white: #F0F0F0;
$grey: grey;
