///* ========================================================================
//   #COLOURS
//   ======================================================================== */
// The list of colour variables used globally across the project


//
// Project Colours as Variables
//


$black: #0D1523;
$white: #FDFDFD;

$off-white: chocolate;
$grey: grey;
