///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Site width
$max-site-width: 2080px;

// Breakpoints 
$mobile:        360px;
$mobile--wide:  480px;
$tablet:        840px;
$desktop:	    1000px;
$wide:    	    1200px;
$superwide:	    1500px;
$sitemax:	    $max-site-width;

// Transitions
$global-transition-duration: 100ms;
$global-transition-type: ease-in-out;
$global-transition: all $global-transition-duration $global-transition-type !default;

// Max-width for text
$global-text-max: 58ch;

// Base font size
$global-base-font-size: 16px;
$global-base-line-height: 1.5;
