/* ==========================================================================
   #GRAVEL
   ========================================================================== */



.p-molnar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAF6F1;

    .p-molnar__wrap {
        width: 500px;
        max-width: 90vw;
        position: relative;
        padding: 25px 25px 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateY(-15%);

        & > div {
            width: 33.3333%;
            height: 0;
            padding-bottom: 33.3333%;
            position: relative;
            mix-blend-mode: multiply;
            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            span > span > span {
                background: #C6292C;
            }
        }
    }
}

$i: 1;
@while $i < 13 {
    .m-translateX--#{$i} > span > span {
        transform: translateX(#{$i * 3%});
    }
    .m-translateY--#{$i} > span {
        transform: translateY(#{$i * 3%});
    }
    $i: $i + 1;
}

$r: 1;
@while $r < 31 {
    .m-rotate--#{$r} > span > span > span {
        transform: rotate(#{$r * 1.5}deg);
    }
    $r: $r + 1;
}

.p-molnar__wrap > div.m-flipX--1.m-flipY--0 {
    transform: scaleX(-1);
}
.p-molnar__wrap > div.m-flipX--1.m-flipY--1 {
    transform: scaleX(-1) scaleY(-1);
}
.p-molnar__wrap > div.m-flipX--0.m-flipY--1 {
    transform: scaleY(-1);
}



.p-molnar__info {
    position: fixed;
    bottom: 4%;
    left: 0;
    width: 100%;
    color: $black;
    z-index: 15;
    text-align: center;
    padding: 0 1em;
    button {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        font-weight: 700;
        min-width: 160px;
        padding: 0.5em 0.75em;
        margin-bottom: 0.75em;
        border-radius: 4px;
        background-color: darken($link, 20%);
        color: $white;
        transition: background-color $global-transition-duration $global-transition-type;
        &:hover,
        &:focus,
        &:active {
            background-color: darken($link, 30%);
        }
    }
    p a {
        @include link-underline;
    }
}
